<ion-view view-title="Messages" >
  <ion-content class="padding" ng-controller="DashCtrl">
    <div class = "list">
    <div class="list card">
      <div class="item item-divider"><h1><i class = "icon ion-email"></i> Please enter post:</h1></div>
      <div class="item item-body">
        <label><h2>Please <span ng-bind="auth.profile.given_name"></span>, provide Content here :</h2></label>
        <input type="text" id = "postContent" ng-model ="postContent"> <br />




        <div>
          <button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
          <img ng-src="{{lastPhoto}}" style="max-width: 100%">
        </div>
        <button class ="btn btn-default" ng-click="savePost()">Save <span class = "glyphicon glypicon-ok"></span></button>
      </div>
  </div>

</div>
  </ion-content>
</ion-view>
