<ion-view view-title="Posts">
  <ion-content>
    <ion-list>
      <ion-item  ng-repeat="post in Posts | toArray | orderBy:'-postDate'" >


        <div class="list card">

          <div class="item item-avatar">
            <img ng-src="{{post.postAuthorPic}}">
            <h2><span ng-bind = "post.postAuthor"></span></h2>

          </div>

          <div class="item item-body">
            <img class="full-image" ng-src = "{{post.postImage}}">
            <p>
            <span ng-bind ="post.postContent"></span>
            <p>
              <a href="#" class="subdued"><span ng-bind = "post.likes"></span> Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <button click-once class="button  button-positive" ng-click = "count(post)">
              <i class="icon ion-thumbsup"></i>
              Like
            </button>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>

          </div>

        </div>
      </ion-item>
    </ion-list>




  </ion-content>
</ion-view>
